@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  src: url("/kumbh_sans.ttf");
}

::selection {
  background-color: color-mix(in srgb, 25% #7c3aed, transparent);
}

*::before,
*,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: #020617;
  color: white;
  font-family: "Kumbh Sans";
  overflow-x: hidden;
}

body,
#root {
  min-height: 100vh;
}
